
.container {
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    top: 45%;
    left: 0px;
}